:root {
  --column-padding: 1rem;
  --inverse-column-padding-margin: -1rem;
  --left-sidebar-width: 300px;
  --right-sidebar-width: 300px;
}

* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  padding: 0px;
  margin: 0px;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: var(--left-sidebar-width) 1fr var(
      --right-sidebar-width
    );
  overflow-x: clip;
}

body.left-sidebar-hidden,
body.left-sidebar-floating {
  --left-sidebar-width: 0;
}

body.right-sidebar-hidden,
body.right-sidebar-floating {
  --right-sidebar-width: 0;
}

header {
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-family: sans-serif;
  background: lightgray;
  padding: var(--column-padding);
  border-bottom: 2px solid darkgray;
}

header h2,
header h1 {
  font-size: inherit;
  margin: 0px;
  width: 100%;
  text-align: center;
}

header .collapse-button {
  border: none;
  background: none;
  padding: 0px;
  width: 4rem;
  height: 100%;
  font-size: 2rem;
  margin: var(--inverse-column-padding-margin);
}

header,
.sidebar {
  overflow: scroll;
  padding: var(--column-padding);
  transition: transform 0.25s ease-out;
}

.left-sidebar-floating:not(.left-sidebar-hidden) .left-sidebar-header,
.left-sidebar-floating:not(.left-sidebar-hidden) .left-sidebar,
.right-sidebar-floating:not(.right-sidebar-hidden) .right-sidebar-header,
.right-sidebar-floating:not(.right-sidebar-hidden) .right-sidebar {
  position: relative;
  width: 300px;
  /* box-shadow: black 0px 0px 1em; */
}

.left-sidebar-hidden .left-sidebar-header,
.left-sidebar-hidden .left-sidebar,
.right-sidebar-hidden .right-sidebar-header,
.right-sidebar-hidden .right-sidebar {
  position: relative;
  padding: 0;
}

.left-sidebar {
  background: pink;
  left: 0px;
  z-index: 2;
}

.left-sidebar-hidden .left-sidebar-header,
.left-sidebar-hidden .left-sidebar {
  transform: translateX(-100%);
}

.left-sidebar-floating:not(.left-sidebar-hidden) .left-sidebar-header,
.left-sidebar-floating:not(.left-sidebar-hidden) .left-sidebar {
  transform: translateX(0);
}

.right-sidebar {
  background: lightblue;
  right: 0px;
  z-index: 1;
}

.right-sidebar-floating:not(.right-sidebar-hidden) .right-sidebar-header,
.right-sidebar-floating:not(.right-sidebar-hidden) .right-sidebar {
  transform: translateX(-100%);
}

main {
  overflow-y: scroll;
  padding: 0 var(--column-padding);
}

#expand-left,
#expand-right {
  visibility: hidden;
}
