:root {
  --column-padding: 1rem;
  --inverse-column-padding-margin: -1rem;
  --left-sidebar-col-width: var(--sidebar-width);
  --right-sidebar-col-width: var(--sidebar-width);
  --sidebar-width: 300px;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0px;
  margin: 0px;
}

/* Body ---------------------------------------------------------------------------------------------------------------- */
.wrapper {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: var(--left-sidebar-col-width) 1fr var(
      --right-sidebar-col-width
    );
  overflow-x: clip;
}

.wrapper.left-sidebar-hidden,
.wrapper.left-sidebar-floating {
  --left-sidebar-col-width: 0;
}

.wrapper.right-sidebar-hidden,
.wrapper.right-sidebar-floating {
  --right-sidebar-col-width: 0;
}

/* Headers -------------------------------------------------------------------------------------------------------------- */
header {
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-family: sans-serif;
  background: lightgray;
  padding: var(--column-padding);
  border-bottom: 2px solid darkgray;
}

header h2,
header h1 {
  font-size: inherit;
  margin: 0px;
  width: 100%;
  text-align: center;
}

header .collapse-button {
  border: none;
  background: none;
  padding: 0px;
  width: 4rem;
  height: 100%;
  font-size: 2rem;
  margin: var(--inverse-column-padding-margin);
}

/* Sidebars ------------------------------------------------------------------------------------------------------------ */
header,
.sidebar {
  overflow: scroll;
  padding: var(--column-padding);
  transition: transform 0.25s ease-out;
}

.left-sidebar-floating .left-sidebar-header,
.left-sidebar-floating .left-sidebar,
.right-sidebar-floating .right-sidebar-header,
.right-sidebar-floating .right-sidebar {
  position: relative;
  width: var(--sidebar-width);
  /*b box-shadow: black 0px 0px 1em; */
}

.left-sidebar-hidden .left-sidebar-header,
.left-sidebar-hidden .left-sidebar,
.right-sidebar-hidden .right-sidebar-header,
.right-sidebar-hidden .right-sidebar {
  position: relative;
  padding: 0;
}

/* Left Sidebar -------------------------------------------------------------------------------------------------------- */
.left-sidebar-header {
  z-index: 2;
}

.left-sidebar {
  background: pink;
  left: 0px;
  z-index: 2;
}

.left-sidebar-hidden .left-sidebar-header,
.left-sidebar-hidden .left-sidebar,
.left-sidebar-floating .left-sidebar-header,
.left-sidebar-floating .left-sidebar {
  width: var(--sidebar-width);
  left: calc(-1 * var(--sidebar-width));
}

.left-sidebar-floating:not(.left-sidebar-hidden) .left-sidebar-header,
.left-sidebar-floating:not(.left-sidebar-hidden) .left-sidebar {
  transform: translateX(100%);
}

/* Right Sidebar ------------------------------------------------------------------------------------------------------- */
.right-sidebar-header {
  z-index: 1;
}

.right-sidebar {
  background: lightblue;
  right: 0px;
  z-index: 1;
}

.right-sidebar-floating:not(.right-sidebar-hidden) .right-sidebar-header,
.right-sidebar-floating:not(.right-sidebar-hidden) .right-sidebar {
  transform: translateX(-100%);
}

main {
  overflow-y: scroll;
  padding: 0 var(--column-padding);
}

#expand-left,
#expand-right {
  visibility: hidden;
}
