* {
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#player {
  /* display */
  /* positioning */
  position: absolute;

  /* box-model */
  width: 10vh;
  height: 10vh;
  background: orange;
  margin-left: 5vh;

  /* typography */
  /* manipulation */
  transition: top;
  /* misc */
}

#background-container {
  width: fit-content;
}

#background {
  /* display */
  display: flex;
  flex-flow: row nowrap;
  /* positioning */
  position: relative;
  left: 0;

  /* box-model */
  height: 100vh;
  background: linear-gradient(
    90deg,
    red,
    blue,
    red,
    blue,
    red,
    blue,
    red,
    blue,
    red,
    blue,
    red,
    blue
  );

  /* typography */
  /* manipulation */
  transition-property: margin-left;
  transition-timing-function: linear;

  /* misc */
}

.pipe-container {
  /* display */
  display: block;

  /* positioning */
  position: relative;
  top: 0;
  bottom: 0;

  /* box-model */
  width: 10vh;
  height: 100vh;
  margin-left: 30vh;

  /* typography */
  /* manipulation */
  /* misc */
}

.pipe {
  background: darkgreen;
  width: 100%;
}

.bottom-pipe {
  position: absolute;
  bottom: 0;
  left: 0;
}
