* {
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#player {
  /* display */
  /* positioning */
  position: absolute;

  /* box-model */
  width: 10vh;
  height: 10vh;
  background: orange;

  /* typography */
  /* manipulation */
  transition: top;
  /* misc */
}

#background-container {
  width: fit-content;
}

#background {
  /* display */
  /* positioning */
  position: relative;
  left: 0;

  /* box-model */
  height: 100vh;
  background: linear-gradient(
    90deg,
    red,
    blue,
    red,
    blue,
    red,
    blue,
    red,
    blue,
    red,
    blue,
    red,
    blue
  );

  /* typography */
  /* manipulation */
  transition-property: margin-left;
  transition-timing-function: linear;

  /* misc */
}
