* {
  box-sizing: border-box;
  font-family: inherit;
}

body {
  max-height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;

  font-family: "Permanent Marker", cursive;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.5) 25em, transparent),
    repeating-linear-gradient(
      105deg,
      white 0,
      white 2px,
      transparent 0,
      transparent 50px
    ),
    repeating-linear-gradient(
      15deg,
      white 0,
      white 2px,
      transparent 0,
      transparent 50px
    );
  background-color: #0066ff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
}

#output {
  flex: 1 1 auto;

  display: grid;
  grid-template-columns: repeat(var(--cols), 1fr);
  gap: 1px;

  overflow-y: scroll;
  width: 100%;
}

#output .page {
  width: 100%;
}

svg {
  fill: currentColor;
  width: 1.5em;
  height: 1.5em;
}

form {
  flex: 0 0 27em;

  display: grid;
  column-gap: 0.5em;
  row-gap: 1em;
  grid-template-columns: auto 1fr;
  grid-auto-rows: max-content;

  color: white;
  /* background: linear-gradient(to left, rgba(0, 0, 0, 0.5), transparent); */
  padding: 2em;
}

.colspan {
  grid-column: 1 / 3;
  margin: 0;
  padding: 0;
  text-align: center;
}

.flex {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.5em;
}

.flex-center {
  justify-content: center;
}

form #preview {
  display: none;
  max-width: 100%;
  max-height: 20vh;
  margin: auto;
}

form input[type="range"] {
  flex: 1 1 auto;
}
form input[type="number"] {
  flex: 0 0 4em;
  width: 4em;
}

@media print {
  form {
    display: none;
  }

  #output {
    display: block;
    overflow: visible;
  }
}
